@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=VT323&display=swap');

@font-face {
    font-family: "Tetris2";
    src: url(../fonts/Tetris2-VP0w.ttf) format("truetype");
    src: url(../fonts/tetris2-vp0w-webfont.woff2) format('woff2'),
         url(../fonts/tetris2-vp0w-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
* The below CSS follows a top-down format so that styles are tackled in order of appearance in the webpage.
* All font-sizes are set in rem for responsiveness and for accessibility.
*/

/*#region General */
/* Clears/resets margin, padding, and borders from all HTML elements to eliminate browser inconsistencies*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Makes scroll smooth instead of abrupt when clicking internal links/anchors*/
html {
    scroll-behavior: smooth;
}

/* Body background color, font colour, and font family are set for consistency */
body {
    background-color: #000;
    color: #FFF;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

/* Font family for all other text in the webpage is set for consistency */
h1 {
    font-family: 'VT323', 'Times New Roman', Times, serif;
}
/*#endregion */