/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: 'Tetris2';
    src: url(../webfonts/tetris2-vp0w.ttf) format('truetype'),
         url(../webfonts/tetris2-vp0w-webfont.woff2) format('woff2'),
         url(../webfonts/tetris2-vp0w-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
* The below CSS follows a top-down format so that styles are tackled in order of appearance in the webpage.
* All font-sizes are set in rem for responsiveness and for accessibility.
* #region and #endregion have been used for the purpose of being able to group and collapse related rules when developing
*/

/*#region General */
/* Clears/resets margin, padding, and borders from all HTML elements to eliminate browser inconsistencies*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Makes scroll smooth instead of abrupt when clicking internal links/anchors*/
html {
    scroll-behavior: smooth;
}

/* Body background color, font colour, and font family are set for consistency */
body {
    background-color: #000;
    color: #FFF;
    font-family: 'VT323', monospace;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    height: 90vh;
}

section {
    margin: 0 20px;
}

button {
    font-family: 'Tetris2';
    background-color: #000;
    color: #FFF;
}

button[type=submit] {
    height: 35px;
    border: 1px solid white;
    padding: 5px;
    width: 60px;
}

.bordered-box-title {
    background-color: #000;
    padding: 0 5px;
    position: absolute;
    top: 0px;
}

.bordered-box {
    border: 5px solid white;
    padding: 20px 10px 20px 10px;
    margin-top: 10px;
}

#left,
#center,
#right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}


#right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#stats,
#preview {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
/*#endregion*/

/*#region Stats box*/
#stats {
    min-width: 175px;
}

.attribute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1.5rem;
}

.value {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 10px;
    text-align: end;
}
/*#endregion*/

/*#region Game area*/
#center {
    padding: 1px 0 1px 0;
}

.full-height {
    height: 100%;
}

h1 {
    font-size: 6rem;
}

#menu {
    position: absolute;
    height: 100%;
    font-family: 'Tetris2';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
}

button.menu-item {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.menu-item {
    cursor: pointer;
}

.menu-item.active:before {
    content: '\2BC8';
    margin: 0 5px;
    -webkit-animation: blink 1s linear infinite;
            animation: blink 1s linear infinite;
}

.menu-item.active,
#exit-btn.active {
    background-color: white;
    color: #000;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#block-entrance {
    background-color: #000;
    position: absolute;
    top: -7px;
    left: 2.5%;
    width: 95%;
    height: 10px;
}

#game {
    width: 100%;
    min-width: 300px;
}

#tetris {
    width: inherit;
    height: inherit;
}

#player {
    text-align: center;
    width: 75px;
}

#preview {
    text-align: center;
    min-width: 150px;
}

#preview-block {
    width: 100%;
}
/*#endregion*/

/*#region Controls*/
#controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

#controls .control-btn {
    font-family: 'VT323', monospace;
}

.control-btn {
    font-size: 1rem;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

.control-btn.big {
    width: 80px;
    height: 60px;
}

.control-btn:hover {
    background-color: #FFF;
    color: #000;
}

.control-btn i {
    margin-bottom: 5px;
}
/*#endregion*/

/*#region Secondary menu */
#secondary-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: auto;
    left: -15px;
    -webkit-transition: 1s ease-in all;
    -o-transition: 1s ease-in all;
    transition: 1s ease-in all;
}

#secondary-menu-title {
    font-weight: 600;
    font-size: 1.5rem;
}

#secondary-menu p {
    padding: 10px;
}

#secondary-menu-controls-content {
    position: relative;
    padding: 10px 0;
    height: 180px;
}

#secondary-menu-credits-content {
    position: relative;
    height: 280px;
}

#credits-scroller {
    position: absolute;
    -webkit-animation: rollingCredits 5s linear forwards infinite;
            animation: rollingCredits 5s linear forwards infinite;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

#scores {
    height: 95px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.finer-bordered-box {
    padding: 5px;
    border: 1px solid white;
}

#exit-btn {
    padding: 5px;
    border-width: 3px;
    width: 80px;
    height: 35px;
    position: absolute;
    z-index: 1;
    margin: -30px -40px;
}

#exit-btn-blackout {
    position: absolute;
    background-color: black;
    width: 95%;
    height: 65px;
    bottom: 0;
}
/*#endregion*/

/*#region Animations*/
@-webkit-keyframes blink {
    50% {
      opacity: 0;
    }
}
@keyframes blink {
    50% {
      opacity: 0;
    }
}
                        
@-webkit-keyframes rollingCredits {
    0% {
      top: 30%;
    }
    100% {
      top: 5%;
    }
}
                        
@keyframes rollingCredits {
    0% {
      top: 30%;
    }
    100% {
      top: 5%;
    }
}
/*#endregion*/

.hidden,
button.menu-item.hidden {
    display: none;
}