@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=VT323&display=swap');

@font-face {
    font-family: "Tetris2";
    src: url(../fonts/Tetris2-VP0w.ttf) format("truetype");
    src: url(../fonts/tetris2-vp0w-webfont.woff2) format('woff2'),
         url(../fonts/tetris2-vp0w-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
* The below CSS follows a top-down format so that styles are tackled in order of appearance in the webpage.
* All font-sizes are set in rem for responsiveness and for accessibility.
*/

/*#region General */
/* Clears/resets margin, padding, and borders from all HTML elements to eliminate browser inconsistencies*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Makes scroll smooth instead of abrupt when clicking internal links/anchors*/
html {
    scroll-behavior: smooth;
}

/* Body background color, font colour, and font family are set for consistency */
body {
    background-color: #000;
    color: #FFF;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
}

/* Font family for all other text in the webpage is set for consistency */
h1,
h2 {
    font-family: 'VT323', 'Times New Roman', Times, serif;
}
/*#endregion */

/*#region Initial game state*/
section {
    margin: 0 20px;
}

#left,
#center,
#right {
    position: relative;
    display: flex;
    flex-direction: column;
}

#stats {
    min-width: 135px;
}

.bordered-box-title {
    background-color: #000;
    padding: 0 5px;
    position: absolute;
}

#stats-box-title {
    left: 15%;
}

.bordered-box {
    border: 5px solid white;
    padding: 20px 20px 20px 10px;
    margin-top: 10px;
}

.attribute {
    display: flex;
    justify-content: space-around;
}

.value::before {
    content: '.........';
}
/*#endregion*/